.logo {
  font-size: 100%;
  align-items: center;
  max-width: 170px;
  &__img {
    flex-shrink: 0;
    width: 54px;
    height: 45px;
  }
  &__text {
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 1.3em;
    color: #13264A;
    opacity: 0.45;
  }
}
