.social {
  display: flex;
  gap: 0 8px;
  @include r(768) {
    justify-content: center;
  }
  &__item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    background: #374451;
  }
}
