// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// HERO section


.hero {
  overflow-x: hidden;
  &__right {
    position: static;
    @include r(1200) {
      margin-top: 30px;
      margin-bottom: 20px;
      order: -1;
    }
  }
  &__title {
    margin-bottom: 25px;
  }
  @include r(600) {
    display: none;
  }
}

.articles {
  margin-top: 2em;
  &__wr {
    padding: 3px;
    border: 1px solid #4E91F5;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    //min-height: 176px;
    box-sizing: border-box;
    @include r(1440) {
      min-height: auto;
    }
  }
  &__item {
    position: relative;
    padding: 3px;
    display: flex;
    color: #fff;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 75%;
    font-size: 0.875em;
    line-height: 1.19em;
    font-weight: 600;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &__link {
    display: block;
    margin-top: 1.5em;
    font-size: 1.125em;
    line-height: 1.69em;
    color: #2688E5;
    width: max-content;
    margin-right: auto;
  }
  &_mobile {
    display: none;
    @include r(600) {
      display: block;
    }
  }
}

.mobile-types {
  display: none;
  @include r(600) {
    display: block;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 10px;
    background: #F5F8FB;
    border-radius: 8px;
    @include r(325) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &__img {
    margin-right: 8px;
  }
  &__link {
    font-size: 1.09em;
    line-height: 1.4em;
  }
}

//pay

.pay {
  margin-top: 144px;
  @include r(1200) {
    margin-top: 60px;
  }
  &__title {
    margin-right: 40px;
    flex: 0 0 auto;
    @include r(1200) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &__types {
    @include r(1200) {
      flex-wrap: wrap;
    }
  }
  &__types-btn {
    display: flex;
    align-items: center;
    padding: 12px 24px 14px;
    font-size: 1.125em;
    line-height: 1;
    color: #6D7276;
    background: #F7F7F7;
    border-radius: 8px;
    transition: color .3s ease-in-out;
    max-width: max-content;
    svg {
      margin-right: 12px;
      stroke: currentColor;
    }
    &:hover, &.is-active {
      color: #000;
    }
    @include r(1440) {
      padding: 12px 18px 12px;
    }
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
  &__btns {
    flex-wrap: wrap;
    gap: 12px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    width: calc((100% - 1 * 12px) / 2);
    padding: 12px 0 16px;
    font-size: 1.5em;
    color: #127CE1;
    background-color: #EFF7FF;
    border-radius: 12px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, font-weight .3s ease-in-out;
    &.is-active,
    &:hover {
      font-weight: 600;
      color: #fff;
      background-color: #2688E5;
    }
    @include r(325) {
      font-size: 16px;
    }
  }
  &__decor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2em;
    line-height: 1.26em;
    color: #2688E5;
    font-family: 'Caveat', sans-serif;
    @include r(1200) {
      flex-direction: row;
      justify-content: flex-start;
    }
    @include r(600) {
      justify-content: center;
      margin: 30px auto;
    }
  }
  &__result {
    @include r(960) {
      margin-top: 20px;
      padding: 15px;
      background: #fff;
      box-shadow: 8px 8px 36px rgba(24, 73, 131, 0.07);
      border-radius: 16px;
    }
    @include r(600) {
      text-align: center;
    }
  }
  &__result-sum {
    font-weight: 600;
    font-size: 5.5em;
    line-height: 1.4em;
    color: #2688E5;
    font-feature-settings: 'salt' on, 'ss01' on;
    @include r(960) {
      font-size: 2.5em;
    }
  }
  &__result-descr {
    font-size: 2em;
    line-height: 1.4em;
    @include r(960) {
      font-size: 1.25em;
    }
  }
  &__systems {
    margin-top: 24px;
    justify-content: center;
    gap: 0 32px;
  }
  &__systems-item {
    color: #B6B8BB;
    svg {
      fill: currentColor;
      @include r(600) {
        max-width: 100%;
      }
    }
  }
}

// appeal

.appeal {
  margin-top: 7em;
  &__wr {
    align-items: flex-end;
  }
  &__title {
    color: #127CE1;
  }
  &__inn {
    position: relative;
    margin-top: 48px;
    padding: 40px 48px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #F7FAFD, #F7FAFD), radial-gradient(2.8% 10.49% at 42.67% 99.46%, #99D4FF 0%, #4E91F5 100%), linear-gradient(99.4deg, #99CDFF 47.95%, #379EFF 51.08%);
    box-shadow: 8px 8px 95px rgba(0, 102, 255, 0.05), 8px 8px 36px rgba(24, 73, 131, 0.05);
    border-radius: 40px;
    //&::after {
    //  content: '';
    //  position: absolute;
    //  right: 0;
    //  bottom: 100px;
    //  z-index: 10;
    //  display: block;
    //  width: 40px;
    //  height: 81px;
    //  background-image: url('../img/triangle.png');
    //}
  }
  &__text {
    font-weight: 400;
    font-size: 1.375em;
    line-height: 1.5em;
    @include r(325) {
      font-size: 16px;
    }
    strong {
      font-weight: 500;
    }
    &:not(:last-of-type) {
      margin-bottom: 2.18rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    width: max-content;
    color: #127CE1;
    font-size: 1.125em;
    margin-top: 25px;
    svg {
      margin-left: 8px;
      width: 19px;
      height: 14px;
      stroke: currentColor;
      transition: transform .3s ease-in-out;
    }
    &:hover {
      svg {
        transform: translateX(7px);
      }
    }
  }
  &__img {
    @include r(600) {
      display: flex;
      align-items: center;
    }
  }
  &__signature {
    position: relative;
    text-align: right;
    font-size: 1.875em;
    line-height: 1.5em;
    font-family: 'Caveat';
    color: #2688E5;
    @include r(1200) {
      text-align: center;
    }
    @include r(600) {
      text-align: left;
      margin-left: 15px;
      max-width: 320px;
    }
    &_name {
      margin-top: 35px;
      font-size: 2.25em;
      &::after {
        content: '';
        position: absolute;
        right: -100px;
        top: 0;
        display: block;
        width: 85px;
        height: 50px;
        background-image: url('../img/design-arrow.png');
        background-repeat: no-repeat;
        @include r(1200) {
          right: 20%;
        }
        @include r(600) {
          content: none;
        }
      }
    }
    &--mobile {
      display: none;
      @include r(600) {
        display: block;
      }
    }
    &--desktop {
      @include r(600) {
        display: none;
      }
    }
  }
}

// hot line

.hot-line {
  margin-top: 9.25em;
  padding: 40px 0 25px;
  background: radial-gradient(66.11% 246.65% at 16.11% 7.66%, #99D4FF 0%, #4E91F5 100%), radial-gradient(105.69% 109.42% at 88.35% 94.4%, #99D4FF 0%, #4E91F5 100%), linear-gradient(120.93deg, #99CDFF 14%, #379EFF 100.08%);
  color: #fff;
  @include r(1200) {
    padding: 0;
  }
  @include r(600) {
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
  }
  &__img {
    position: absolute;
    top: -160px;
    left: 0;
    right: 0;
    margin: 0 auto;
    object-fit: cover;
    @include r(1200) {
      position: relative;
      top: 0;
      display: block;
      margin-top: -100px;
      z-index: 10;
    }
  }
  &__text {
    margin-top: 24px;
    font-size: 1.375em;
    line-height: 1.5em;
    max-width: 645px;
  }
  .hot-line__bottom {
    margin-top: 24px;

    align-items: flex-end;
  }
  &__number {
    position: relative;
    margin-bottom: 15px;
    padding-left: 40px;
    flex: 0 0 40%;
    font-weight: 700;
    font-size: 3.5em;
    line-height: 1.392em;
    letter-spacing: 0.05em;
    @include r(1500) {
      flex-grow: 1;
    }
    span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-25%);
      font-size: 100px;
    }
  }
  &__decor {
    position: relative;
    font-family: 'Caveat';
    font-size: 1.75em;
    line-height: 1.25em;
    max-width: 315px;
    opacity: 0.8;
    @include r(1200) {
      display: none;
    }
    &::before {
      content: '';
      position: absolute;
      left: -100px;
      top: -20px;
      display: block;
      width: 86px;
      height: 62px;
      background-image: url('../img/design-arrow-white.png');
      background-repeat: no-repeat;
    }
  }
}

//community

.community {
  margin-top: 11em;
  @include r(1200) {
    margin-top: 60px;
  }
  &__item {
    position: relative;
    display: block;
    margin-top: 100px;
    padding: 32px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(105.69% 109.42% at 88.35% 94.4%, #99D4FF 0%, #4E91F5 100%), linear-gradient(120.93deg, #99CDFF 14%, #379EFF 100.08%);
    box-shadow: -8px 8px 36px rgba(24, 73, 131, 0.07);
    border-radius: 8px;
    transition: box-shadow .3s ease-in-out;
    @include r(1200) {
      margin-top: 60px;
    }
    &::after {
      content: '';
      position: absolute;
      top: -20px;
      right: 0;
      display: block;
      background-repeat: no-repeat;
    }
    &_01::after {
      background-image: url('../img/community-icon-01.png');
      width: 76px;
      height: 85px;
      @include r(325) {
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    }
    &_02::after {
      background-image: url('../img/community-icon-02.png');
      width: 84px;
      height: 84px;
      @include r(325) {
        width: 50px;
        height: 50px;
        background-size: cover;
    }
    }
    &_03::after {
      background-image: url('../img/community-icon-03.png');
      width: 90px;
      height: 84px;
      @include r(325) {
        width: 60px;
        height: 54px;
        background-size: cover;
    }
    }
    &:hover {
      color: #fff;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(105.69% 109.42% at 88.35% 94.4%, #99D4FF 0%, #4E91F5 100%);
      background-blend-mode: overlay, normal;
      box-shadow: 0px 8px 56px rgba(27, 127, 243, 0.36);
      h3 {
        color: #fff;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 2em;
    line-height: 1.5em;
    color: #99D4FF;
    transition: color .10s ease-in-out;
    span {
      font-size: 0.75em;
      display: block;
      width: max-content;
    }
  }
  &__descr {
    margin-top: 10px;
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

// help

.help {
  margin-top: 9em;
  @include r(768) {
    margin-top: 60px;
  }
  &__item {
    margin-top: 100px;
    display: flex;
    align-items: center;
    opacity: 0.4;
    transition: transform .5s ease-in-out, opacity .3s ease-in-out;
    transform: scale(0.8);
    @include r(600) {
      box-sizing: border-box;
      margin-top: 20px;
    }
    img {
      transition: transform .3s ease-in-out;
      transform: scale(0.6) translateY(80%);
    }
    &.swiper-slide-active {
      opacity: 1;
      transform: scale(1);
      img {
        transform: scale(1) translateY(0);
      }
    }
    @include r(768) {
      display: block;
      padding: 32px;
      border-radius: 40px;
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #F7FAFD, #F7FAFD), radial-gradient(5.29% 14.3% at 3.34% 99.27%, #99D4FF 0%, #4E91F5 100%), linear-gradient(102.92deg, #99CDFF 16.26%, #379EFF 21.86%);
      box-shadow: 8px 8px 36px rgba(24, 73, 131, 0.07);
    }
  }
  &__img {
    flex: 0 0 auto;
    align-items: center;
    @include r(768) {
      margin-bottom: 30px;
    }
  }
  &__descr {
    margin-left: auto;
    padding: 40px;
    font-size: 1.25em;
    line-height: 1.5em;
    border-radius: 40px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #F7FAFD, #F7FAFD), radial-gradient(5.29% 14.3% at 3.34% 99.27%, #99D4FF 0%, #4E91F5 100%), linear-gradient(102.92deg, #99CDFF 16.26%, #379EFF 21.86%);
    box-shadow: 8px 8px 36px rgba(24, 73, 131, 0.07);
    @include r(768) {
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: none;
      box-shadow: none;
    }
  }
  &__text {
    margin-bottom: 1.6em;
  }
  &__name {
    font-weight: 500;
    font-size: 1.1em;
    color: #2688E5;
    font-feature-settings: 'salt' on, 'ss01' on;
    @include r(768) {
      display: none;
    }
    span {
      font-weight: 400;
    }
    &_mobile {
      display: none;
      @include r(768) {
        display: block;
        margin-left: 25px;
        max-width: 180px;
      }
    }
  }
}

// face

.face {
  margin-top: 135px;
  padding: 96px 0 130px;
  background-image: url('../img/face-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  @include r(768) {
    margin-top: 60px;
  }
  &__title {
    text-align: center;
  }
  &__img {
    margin-bottom: 40px;
    @include r(1200) {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 30%;
      margin-bottom: 0;
      max-height: 210px;
      object-fit: contain;
    }
  }
  &__caption {
    margin-top: 56px;
    margin-bottom: 34px;
    font-size: 23px;
    @include r(1500) {
      max-width: 150px;
    }
    @include r(1200) {
      max-width: 100%;
    }
  }
  &__name {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.375em;
    line-height: 1.4em;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__descr {
    @include r(1200) {
      max-width: 370px;
    }
    @include r(600) {
      margin-top: 20px;
    }
  }
  &__text {
    font-size: 1.25em;
    line-height: 1.4em;
  }
  &__decor {
    position: relative;
    margin-top: 48px;
    margin-bottom: 100px;
    font-family: 'Caveat';
    font-size: 2em;
    line-height: 1.16em;
    color: #2688E5;
    @include r(600) {
      text-align: center;
    }
    &::before {
      content: '';
      position: absolute;
      left: -60px;
      top: -5px;
      display: block;
      width: 39px;
      height: 85px;
      background-image: url('../img/design-arrow-vertical.png');
      background-repeat: no-repeat;
      @include r(600) {
        left: 0;
        right: 0;
        top: 32px;
        margin: 0 auto;
      }
    }
  }
}

.face-slider {
  &__item {
    @include r(1200) {
      display: flex;
      align-items: center;
      gap: 0 16px;
      padding: 24px;
      background: radial-gradient(148.84% 85.92% at 80.26% 82.35%, #2E78F6 0%, #6dadf9 100%);
      mix-blend-mode: overlay;
      border-radius: 16px;
      box-sizing: border-box;
    }
    @include r(600) {
      flex-wrap: wrap;
    }
  }
}

//volunteering

.volunteering {
  &__title {
    color: #127CE1;
  }
  &__text {
    margin-top: 24px;
    max-width: 615px;
    font-size: 1.25em;
    line-height: 1.5em;
  }
  &__link {
    display: flex;
    align-items: center;
    width: max-content;
    color: #127CE1;
    font-size: 1.125em;
    margin-top: 25px;
    svg {
      margin-left: 8px;
      width: 19px;
      height: 14px;
      stroke: currentColor;
      transition: transform .3s ease-in-out;
    }
    &:hover {
      svg {
        transform: translateX(7px);
      }
    }
  }
}


// partners

.partners {
  margin-top: 77px;
  position: relative;
  &__descr {
    position: sticky;
    top: 150px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
    min-height: 460px;
    color: #fff;
    @include r(600) {
      padding: 16px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      display: block;
      min-height: 460px;
      width: calc(100% + 100px);
      border-radius: 16px 0 0 16px;
      background: radial-gradient(66.11% 246.65% at 83.89% 92.34%, #99D4FF 0%, #4E91F5 100%);
      @include r(1500) {
        width: 105%;
      }
      @include r(600) {
        width: 100%;
        background: radial-gradient(173.97% 78.31% at 50% 6.03%, #99D4FF 0%, #4E91F5 100%);
        border-radius: 16px;
      }
    }
  }
  &__right {
    @include r(600) {
      order: -1;
    }
  }
  &__left {
    @include r(600) {
      margin-top: -10px;
    }
  }
  &__text {
    margin-top: 24px;
    font-size: 1.25em;
    line-height: 1.5em;
    @include r(1440) {
      max-width: 560px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    width: max-content;
    color: #fff;
    font-size: 1.125em;
    margin-top: 25px;
    svg {
      margin-left: 8px;
      width: 19px;
      height: 14px;
      stroke: currentColor;
      transition: transform .3s ease-in-out;
    }
    &:hover {
      svg {
        transform: translateX(7px);
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    @include r(1200) {
      gap: 20px;
    }
    @include r(768) {
      gap: 16px;
    }
    @include r(600) {
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F7FAFD;
      border-radius: 34.2857px;
      padding-bottom: 50px;
      max-height: 420px;
      overflow-y: scroll;
    }

  }
  &__item {
    flex: 0 0 30%;
    border-radius: 16px;
    background-color: #F7FAFD;
    @include r(600) {
      flex: 0 0 45%;
      text-align: center;
    }
  }
}

// bottom-btns

.bottom-btns {
  margin-top: 152px;
  @include r(768) {
    margin-top: 60px;
  }
  &__sum, &__submit {
    display: flex;
    gap: 0 1em;
    margin-right: auto;
  }
  &__sum {
    @include r(1200) {
      display: none;
    }
  }
  &__submit {
    margin-right: 0;
    @include r(1200) {
      margin: 0 auto;
    }
  }
  &__btn {
    padding: 14px 32px;
    font-size: 1.25em;
    line-height: 1.4em;
    color: #127CE1;
    background: #EFF7FF;
    border-radius: 12px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    &:hover {
      color: #fff;
      background-color: #2688E5;
    }
    @include r(1366) {
      font-size: 1.125em;
    }
  }
}

// hero-mobile

.hero-mobile {
  position: relative;
  display: none;
  min-height: 352px;
  background-image: url(../img/hero-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include r(600) {
    display: block;
  }
  &__banner {
  }
  &__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.1;
    color: #fff;
    position: absolute;
    bottom: 32px;
    left: 32px;
    @include r(600) {
      left: 12px;
    }
  }
}

