.qr-code {
  margin-top: 120px;
  &__caption {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__descr {
    margin-bottom: 24px;
    font-size: 1.25em;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__images {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 64px;
  }
  &__service-caption {
    margin-bottom: 24px;
    font-size: 1.25em;
    line-height: 1.4;
    color: #6D7276;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__service {
    justify-content: flex-start;
  }
}

.commission {
  margin-top: 24px;
  margin-bottom: 40px;
  &__label {
    position: relative;
    display: block;
    margin-bottom: 24px;
    padding-left: 30px;
    cursor: pointer;
  }
  &__input {
    display: none;
  }
  &__pane {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #127CE1;
    border-radius: 4px;
    transform: translateY(-50%);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      display: block;
      margin: 0 auto;
      width: 10px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.8125 7L1 4.27273' stroke='%23127CE1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity .3s ease-in-out;
    }
  }
  &__input:checked + .commission__pane::before {
    opacity: 1;
  }
  &__text {
    font-size: 1.125em;
    line-height: 1.4;
    color: #000;
  }
  &__count {
    font-size: 1.125em;
    line-height: 1.4;
    color: #2688E5;
  }
  &__descr {
    line-height: 1.4;
    color: #848484;
    max-width: 400px;
  }
  &__link {
    font-size: 1em;
    line-height: 1.4;
    color: #2688E5;
  }
}

.data {
  width: 100%;
  display: flex;
  gap: 12px;
  &__title {
    margin-bottom: 24px;
  }
  .data__input {
    padding-left: 24px;
    width: calc((100% - 1 * 12px) / 2);
    text-align: left;
    &::placeholder {
      text-align: left;
    }
  }
}


.change-bank {
  &__title {
    margin-bottom: 24px;
  }
  &__nav {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }
  &__btn {
    padding: 12px 32px 16px;
    font-size: 20px;
    line-height: 1.4;
    color: #6D7276;
    background-color: #F5F8FB;
    border-radius: 12px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    &.is-active,
    &:hover {
      color: #fff;
      background-color: #2688E5;
    }
  }
  &__content {
    display: none;
    &.is-active {
      display: block;
    }
  }
  &__description {
    margin-top: 58px;
    font-size: 24px;
    line-height: 1.5;
    color: #000;
  }
}

.requisite {
  &__caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: #2688E5;
  }
  &__list {
    margin-bottom: 32px;
  }
  &__item {
    font-size: 22px;
    line-height: 1.5;
    color: #000;
    span {
      color: #6D7276;
    }
  }
  &__appointment {
    font-size: 22px;
    line-height: 1.5;
    color: #000;
  }
}

.pay-sms {
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
    span {
      color: #2688E5;
    }
  }
  &__descr {
    font-size: 20px;
    line-height: 1.5;
    font-feature-settings: 'liga' off;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.sms-example {
  &__caption {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__good {
    position: relative;
    display: block;
    margin-bottom: 40px;
    padding: 16px 25px 17px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 37px;
    border-radius: 37px;
    color: #fff;
    width: max-content;
    background: linear-gradient(180deg, #6DADEA -111.66%, #2688E5 100.28%);
    //&::after {
    //  content: '';
    //  position: absolute;
    //  right: 0;
    //  bottom: 0;
    //  display: block;
    //  width: 26px;
    //  height: 36px;
    //  background-image: url('../img/triangle-03.png');
    //}
  }
  &__wr {
    display: flex;
    gap: 24px;
  }
  &__bad {
    position: relative;
    display: block;
    margin-bottom: 40px;
    padding: 16px 25px 17px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 37px;
    border-radius: 37px;
    color: #8A8F95;
    width: max-content;
    background: linear-gradient(180deg, rgba(223, 232, 240, 0.5) -61.79%, rgba(219, 226, 233, 0.5) 100.27%);
    //&::after {
    //  content: '';
    //  position: absolute;
    //  right: 0;
    //  bottom: 0;
    //  display: block;
    //  width: 26px;
    //  height: 36px;
    //  background-image: url('../img/triangle-03.png');
    //}
  }
}

.pay-fck {
  &__title {
    margin-bottom: 24px;
  }
  &__descr {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.5;
  }
  &__btn {
    padding: 16px 67px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    background: #2688E5;
    border-radius: 12px;
  }
}

// voulonteers form

// Accessibility

.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
  position: absolute;
  left: -999em;
}
.wizard > .content > .title {
  position: absolute;
  left: -999em;
}

// Wizard
.wizard {
  margin-top: 32px;
}
.wizard > .content {
  display: block;
  min-height: 20em;
  overflow: hidden;
  position: relative;
  width: auto;
}
.wizard > .content > .body {
  position: absolute;
}

.wizard > .actions > ul,
.wizard > .steps > ul {
  display: flex;
}

.wizard > .steps > ul {
  gap: 8px;
  margin-bottom: 40px;
}
.wizard > .steps > ul > li {
  flex: 0 0 calc(100% / 4 - 3 * 8px);
  padding-bottom: 16px;
  padding-left: 16px;
  line-height: 1.4;
  color: #6D7276;
  border-bottom: 1px solid #d9d9d9;
  &.current {
    color: #000;
    border-color: currentColor;
  }
  &.done {
    color: #2688E5;
    border-color: currentColor;
  }
  &.error {
    color: #ff3111;
    border-color: currentColor;
  }
}

.wizard > .actions > ul > li {
  padding: 16px 24px 20px;
  color: #2688E5;
  font-size: 20px;
  line-height: 1.4;
  &.disabled {
    display: none;
  }
  &:first-child {
    margin-right: 24px;
  }
  &:nth-child(2) {
    color: #fff;
    background-color: #2688E5;
    border-radius: 12px;
    font-weight: 600;
  }
  &:nth-child(3) {
    visibility: hidden;
  }
}

.vol-form {
  &__group {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
  }
  &__label {
    position: relative;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.4;
    &_check {
      margin-top: 50px;
      padding-left: 30px;
      cursor: pointer;
    }
    span {
      font-size: 16px;
      color: #939ca5;
    }
    span.vol-form__error {
        color: #ff3111;
        font-size: 14px;
    }
  }
  &__input {
    display: block;
    margin-top: 16px;
    padding: 12px 24px 16px;
    font-size: 1.25em;
    line-height: 1.4;
    color: #000;
    border: none;
    background-color: #F5F8FB;
    border-radius: 12px;
    min-width: 425px;
    max-width: 100%;
    &::placeholder {
      font-size: 20px;
      line-height: 1.4;
      color: #6D7276;
    }
  }
  &__checkbox {
    display: none;
    &:checked + .vol-form__check-pane {
      border-color: #127CE1;
    }
    &:checked + .vol-form__check-pane::before {
      opacity: 1;
    }
  }
  &__check-pane {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #6D7276;
    border-radius: 4px;
    transform: translateY(-50%);
    transition: border-color .3s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 10px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.8125 7L1 4.27273' stroke='%23127CE1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
  &__select {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8.5 7L16 1' stroke='%23939CA5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"), linear-gradient(to bottom, #F5F8FB 0%,#F5F8FB 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    margin-top: 16px;
    padding: 12px 24px 16px;
    font-size: 1.25em;
    line-height: 1.4;
    color: #000;
    border: none;
    border-radius: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    min-width: 425px;
    max-width: 100%;
    &::-ms-expand {
      display: none;
    }
  }
  &__submit {
    display: block;
    padding: 16px 10px 20px;
    width: 100%;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.4;
    color: #fff;
    background-color: #2688E5;
    border-radius: 12px;
    &:disabled {
      color: #AEC1D2;
      background-color: #F5F8FB;
    }
  }
}

.vol-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  text-align: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 1px solid #EDF4FA;

  &__title {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 1.4;
    color: #6D7276;
  }
  &__percent {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: #6D7276;
  }
}

.diagram {
  width: 240px;
  height:240px;
  border-radius: 50%;
  background: #2688E5;
  position: relative;
  overflow: hidden;

}
.diagram::before {
  content: '';
  display: block;
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border-radius: 50%;
  background: #fff;
  z-index: 3;
  opacity: 1;

}
.diagram .piece {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;

}
.diagram .piece::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;

}
.diagram .piece.left {
  transform: rotate(0deg);
  z-index: 2;
  border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/

}
.diagram.over_50 .piece.left {
  transform: rotate(180deg);

}
.diagram .piece.right {
  transform: rotate(180deg);
  z-index: 1;
  border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/

}
.diagram.over_50 .piece.right {
  transform: rotate(360deg);

}
.diagram .left::before {
  background: #EDF4FA;

}
.diagram.over_50 .left::before {
  background: #2688E5;
}
.diagram .right::before {
  background: #EDF4FA;

}
.diagram .text {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
