.qr-code {
  margin-top: 120px;
  &__caption {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__descr {
    margin-bottom: 24px;
    font-size: 1.25em;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__images {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 64px;
  }
  &__service-caption {
    margin-bottom: 24px;
    font-size: 1.25em;
    line-height: 1.4;
    color: #6D7276;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__service {
    justify-content: flex-start;
  }
}

.commission {
  margin-top: 24px;
  margin-bottom: 40px;
  &__label {
    position: relative;
    display: block;
    margin-bottom: 24px;
    padding-left: 30px;
    cursor: pointer;
  }
  &__input {
    display: none;
  }
  &__pane {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #127CE1;
    border-radius: 4px;
    transform: translateY(-50%);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      display: block;
      margin: 0 auto;
      width: 10px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.8125 7L1 4.27273' stroke='%23127CE1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity .3s ease-in-out;
    }
  }
  &__input:checked + .commission__pane::before {
    opacity: 1;
  }
  &__text {
    font-size: 1.125em;
    line-height: 1.4;
    color: #000;
  }
  &__count {
    font-size: 1.125em;
    line-height: 1.4;
    color: #2688E5;
  }
  &__descr {
    line-height: 1.4;
    color: #848484;
    max-width: 400px;
  }
  &__link {
    font-size: 1em;
    line-height: 1.4;
    color: #2688E5;
  }
}

.data {
  width: 100%;
  display: flex;
  gap: 12px;
  &__title {
    margin-bottom: 24px;
  }
  .data__input {
    padding-left: 24px;
    width: calc((100% - 1 * 12px) / 2);
    text-align: left;
    &::placeholder {
      text-align: left;
    }
  }
}


.change-bank {
  &__title {
    margin-bottom: 24px;
  }
  &__nav {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }
  &__btn {
    padding: 12px 32px 16px;
    font-size: 20px;
    line-height: 1.4;
    color: #6D7276;
    background-color: #F5F8FB;
    border-radius: 12px;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    &.is-active,
    &:hover {
      color: #fff;
      background-color: #2688E5;
    }
  }
  &__content {
    display: none;
    &.is-active {
      display: block;
    }
  }
  &__description {
    margin-top: 58px;
    font-size: 24px;
    line-height: 1.5;
    color: #000;
  }
}

.requisite {
  &__caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: #2688E5;
  }
  &__list {
    margin-bottom: 32px;
  }
  &__item {
    font-size: 22px;
    line-height: 1.5;
    color: #000;
    span {
      color: #6D7276;
    }
  }
  &__appointment {
    font-size: 22px;
    line-height: 1.5;
    color: #000;
  }
}

.pay-sms {
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
    span {
      color: #2688E5;
    }
  }
  &__descr {
    font-size: 20px;
    line-height: 1.5;
    font-feature-settings: 'liga' off;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.sms-example {
  &__caption {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.4;
    font-feature-settings: 'salt' on, 'ss01' on;
  }
  &__good {
    position: relative;
    display: block;
    margin-bottom: 40px;
    padding: 16px 25px 17px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 37px;
    border-radius: 37px;
    color: #fff;
    width: max-content;
    background: linear-gradient(180deg, #6DADEA -111.66%, #2688E5 100.28%);
    //&::after {
    //  content: '';
    //  position: absolute;
    //  right: 0;
    //  bottom: 0;
    //  display: block;
    //  width: 26px;
    //  height: 36px;
    //  background-image: url('../img/triangle-03.png');
    //}
  }
  &__wr {
    display: flex;
    gap: 24px;
  }
  &__bad {
    position: relative;
    display: block;
    margin-bottom: 40px;
    padding: 16px 25px 17px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 37px;
    border-radius: 37px;
    color: #8A8F95;
    width: max-content;
    background: linear-gradient(180deg, rgba(223, 232, 240, 0.5) -61.79%, rgba(219, 226, 233, 0.5) 100.27%);
    //&::after {
    //  content: '';
    //  position: absolute;
    //  right: 0;
    //  bottom: 0;
    //  display: block;
    //  width: 26px;
    //  height: 36px;
    //  background-image: url('../img/triangle-03.png');
    //}
  }
}

.pay-fck {
  &__title {
    margin-bottom: 24px;
  }
  &__descr {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.5;
  }
  &__btn {
    padding: 16px 67px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    background: #2688E5;
    border-radius: 12px;
  }
}

// voulonteers form

// Accessibility

.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
  position: absolute;
  left: -999em;
}
.wizard > .content > .title {
  position: absolute;
  left: -999em;
}

// Wizard
.wizard {

}
.wizard > .content {
  display: block;
  min-height: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  //@include r(1440) {
  //  min-height: 30em;
  //}
  //@include r(768) {
  //  min-height: 35em;
  //}
  //@include r(600) {
  //  min-height: 40em;
  //}
  //@include r(480) {
  //  min-height: 55em;
  //}
}
//.wizard > .content > .body {
//  position: absolute;
//}

.wizard > .actions > ul,
.wizard > .steps > ul {
  display: flex;
  @include r(1024) {
    justify-content: space-between;
  }
}

.wizard > .actions > ul {
  align-items: center;
  flex-wrap: wrap;
}

.wizard > .steps > ul {
  gap: 8px;
  margin-bottom: 40px;
}
.wizard > .steps > ul > li {
  flex: 1 1 calc(100% / 4 - 3 * 8px);
  padding-bottom: 16px;
  padding-left: 16px;
  line-height: 1.4;
  color: #6D7276;
  border-bottom: 1px solid #d9d9d9;
  @include r(480) {
    flex: 0 0 3%;
    & > a {
      display: none;
    }
  }
  @include r(1024) {
    padding-left: 0;
    text-align: center;
  }
  &.current {
    color: #000;
    border-color: currentColor;
    @include r(480) {
      flex: 0 0 88%;
      display: block !important;
      & > a {
        display: block !important;
      }
    }
  }
  &.done {
    color: #2688E5;
    border-color: currentColor;
  }
  //&.error {
  //  color: #ff3111;
  //  border-color: currentColor;
  //}
}

.wizard > .actions > ul > li {
  position: relative;
  padding: 16px 24px 20px;
  color: #2688E5;
  font-size: 20px;
  line-height: 1.4;
  @include r(600) {
    flex: 0 0 45%;
  }
  &.disabled {
    display: none;
  }
  &:first-child {
    margin-right: 24px;
    @include r(600) {
      margin-right: 0;
    }
  }
  &:nth-child(2) {
    color: #fff;
    background-color: #2688E5;
    border-radius: 12px;
    font-weight: 600;
  }
  &:nth-child(3) {
    & > a {
      background: #2688E5;
      border-radius: 12px;
      color: #fff;
      padding: 16px 68px 20px;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.4;
      &.not-active {
        color: #AEC1D2;
        background-color: #F5F8FB;
        cursor: default;
        pointer-events: none;
      }
    }
    & > span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 24px;
      color: #848484;
      font-size: 14px;
      line-height: 1.4;
      max-width: 290px;
      opacity: 1;
      &.not-active {
        opacity: 0;
      }
      a {
        color: #127CE1;
      }
      @include r(600) {
        text-align: center;
        margin: 0 auto;
      }
    }
    @include r(600) {
      flex: 0 0 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
.wizard > .actions > ul > li a {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.vol-form {
  &__title {
    margin-bottom: 32px;
  }
  &__group {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    @include r(1440) {
      flex-wrap: wrap;
    }
    @include r(768) {
       gap: 24px;
     }
    &_checkboxes {
      flex-wrap: wrap;
      gap: 0 32px;
      label {
        margin-top: 24px;
        width: 30%;
        @include r(1440) {
          width: 48%;
        }
        @include r(560) {
          width: 100%;
        }
      }
    }
  }
  &__label {
    position: relative;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.4;
    @include r(560) {
      width: 100%;
      margin-left: 0 !important;
    }
    &_check,
    &_radio {
      margin-top: 50px;
      padding-left: 30px;
      cursor: pointer;
      font-weight: 400;
    }
    span {
      font-size: 16px;
      color: #939ca5;
    }
    span.vol-form__error {
        color: #ff3111;
        font-size: 14px;
    }
    &[for="vol-month"] {
      margin-left: -35px;
      @include r(1024) {
        margin-left: 0;
      }
    }
    &[for="vol-day"] {
      margin-left: -35px;
      @include r(1024) {
        margin-top: 5px;
      }
    }
  }
  &__input {
    display: block;
    margin-top: 16px;
    padding: 12px 24px 16px;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    border: none;
    background-color: #F2F5F9;
    border-radius: 12px;
    min-width: 425px;
    max-width: 100%;
    @include r(1200) {
      min-width: auto;
    }
    @include r(560) {
      min-width: 100% !important;
    }
    &::placeholder {
      font-size: 20px;
      line-height: 1.4;
      color: #6D7276;
    }
    &:focus {
      outline: none;
    }
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
      margin: 0;
    }
    &[name="vol-day"],
    &[name="vol-time"],
    &[name="vol-date"],
    &[name="vol-date-arrival"],
    &[name="vol-departure"] {
      min-width: 150px;
      max-width: 150px;
    }
    &[name="vol-year"] {
      min-width: 195px;
      max-width: 195px;
    }
    &[name="vol-phone"] {
      min-width: 225px;
      max-width: 225px;
    }
  }
  &__textarea {
    display: block;
    margin-top: 16px;
    padding: 18px 24px 12px;
    font-size: 1.25em;
    line-height: 1.4;
    color: #000;
    max-width: 1030px;
    width: 100%;
    height: 180px;
    border: none;
    background-color: #F2F5F9;
    border-radius: 12px;
    resize: none;
    @include r(1024) {
      max-width: 100%;
    }
    @include r(560) {
      min-width: 100%;
      height: 250px;
    }
    &::placeholder {
      font-size: 20px;
      line-height: 1.4;
      color: #7B8086;
    }
    &:focus {
      outline: none;
    }
  }
  &__checkbox {
    display: none;
    &:checked + .vol-form__check-pane {
      border-color: #127CE1;
    }
    &:checked + .vol-form__check-pane::before {
      opacity: 1;
    }
  }
  &__check-pane {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #6D7276;
    border-radius: 4px;
    transform: translateY(-50%);
    transition: border-color .3s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 10px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L3.8125 7L1 4.27273' stroke='%23127CE1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
  &__radio {
    display: none;
    &:checked + .vol-form__radio-pane {
      border-color: #127CE1;
    }
    &:checked + .vol-form__radio-pane::before {
      opacity: 1;
    }
  }
  &__radio-pane {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #6D7276;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: border-color .3s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 10px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.99999' cy='5.00011' r='4.44444' fill='%23127CE1'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }
  }
  &__select {
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8.5 7L16 1' stroke='%23939CA5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"), linear-gradient(to bottom, #F2F5F9 0%,#F2F5F9 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    margin-top: 16px;
    padding: 12px 24px 16px;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    border: none;
    border-radius: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    min-width: 425px;
    max-width: 100%;
    @include r(560) {
      min-width: 100%;
    }
    &::-ms-expand {
      display: none;
    }
    &[name="vol-month"] {
      min-width: 180px;
      max-width: 180px;
    }
    &:focus {
      outline: none;
    }
  }
  &__submit {
    display: block;
    padding: 16px 10px 20px;
    width: 100%;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.4;
    color: #fff;
    background-color: #2688E5;
    border-radius: 12px;
    @include r(768) {
      font-size: 18px;
    }
    &:disabled {
      color: #AEC1D2;
      background-color: #F5F8FB;
    }
  }
  &__subcaption {
    margin-bottom: -32px;
  }
  &__file {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
  }
  &__file-inner {
    position: relative;
    margin-top: 16px;
    padding: 14px 24px 17px;
    width: 355px;
    max-width: 100%;
    background: #F5F8FB;
    border-radius: 8px;
    cursor: pointer;
  }
  &__file-label {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.4;
    color: #6D7276;
    cursor: pointer;
    &.is-active {
      color: #000;
    }
    span {
      color: #127CE1;
    }
  }
  &__file-remove {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L1 13M1 1L13 13' stroke='%236D7276' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-60%);
    opacity: 0;
    &.is-visible {
      opacity: 1;
    }
  }
  &__file-remove,
  &__file-label {
    transition: .25s ease;
  }
  &__regular-text {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
  }
}



.vol-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 1px solid #EDF4FA;
  @include r(1366) {
    width: 200px;
    height: 200px;
  }
  @include r(1024) {
    display: none;
  }

  &__title {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 1.4;
    color: #6D7276;
  }
  &__percent {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    color: #6D7276;
  }
}

.diagram {
  width: 240px;
  height:240px;
  border-radius: 50%;
  background: #2688E5;
  position: relative;
  overflow: hidden;
  @include r(1366) {
    width: 200px;
    height: 200px;
  }

}
.diagram::before {
  content: '';
  display: block;
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border-radius: 50%;
  background: #fff;
  z-index: 3;
  opacity: 1;

}
.diagram .piece {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  position: absolute;

}
.diagram .piece::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;

}
.diagram .piece.left {
  transform: rotate(0deg);
  z-index: 2;
  border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/

}
.diagram.over_50 .piece.left {
  transform: rotate(180deg);

}
.diagram .piece.right {
  transform: rotate(180deg);
  z-index: 1;
  border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/

}
.diagram.over_50 .piece.right {
  transform: rotate(360deg);

}
.diagram .left::before {
  background: #EDF4FA;

}
.diagram.over_50 .left::before {
  background: #2688E5;
}
.diagram .right::before {
  background: #EDF4FA;

}
.diagram .text {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.change-psychology {
  &__wr {
    @include r(1024) {
      flex-wrap:wrap;
    }
  }
  &__list {
    display: flex;
    margin-top: 16px;
    gap: 16px;
    @include r(1024) {
      flex-wrap:wrap;
    }
  }
  &__item {
    cursor: pointer;
    img {
      padding: 3px;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: border-color .3s ease-in-out;
    }
    &.is-active,
    &:hover {
      img {
        border-color: #2688E5;
      }
    }
  }
  &__wr {
    gap: 32px;
    margin-top: 60px;
  }
  &__info {
    text-align: center;
    @include r(600) {
      text-align: left;
      display: flex;
      align-items: center;
      gap: 24px;
      img {
        width: 48%;
      }
    }
    @include r(325) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  &__image {
    margin-bottom: 24px;
  }
  &__name {
    font-weight: 500;
    font-size: 1.375em;
    line-height: 1.4;
    color: #6D7276;
  }
  &__experience {
    margin-top: 16px;
    color: #6D7276;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 20%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 72.73%);
    opacity: .75;
  }
  &__description {
    position: relative;
    margin: 16px 0;
    max-height: 125px;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    &.is-open {
      max-height: 100%;
      .change-psychology__overlay {
        background: none;
      }
    }
    p {
      font-size: 1.125em;
      line-height: 1.4;
    }
  }
  &__read-more {
    margin-top: 16px;
    font-size: 1.125em;
    line-height: 1.4;
    color: #2688E5;
  }
}


.change-date {
  margin-top: 24px;
  &__caption {
    margin-bottom: 16px;
    font-size: 1.25em;
    line-height: 1.4;
  }
  &__item {
    margin-bottom: 24px;
  }
  &__label {
    position: relative;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  &__input {
    display: none;
    &:checked + .change-date__pane {
      border-color: #2688E5;
    }
  }
  &__pane {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 56px;
    background-color: #F5F8FB;
    border: 1px solid #F5F8FB;
    border-radius: 12px;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    font-feature-settings: 'salt' on, 'ss01' on;
    cursor: pointer;
  }
}

// dropzone

.dz-clickable {
  position: relative;
  margin-top: 16px;
  min-height: 176px;
  max-width: 1030px;
  width: 100%;
  border: none;
  background-color: #F5F8FB;
  border-radius: 16px;
  @include r(1024) {
    max-width: 100%;
  }
}
.dz-message {
  font-weight: 500;
  font-size: 1.125em;
  color: #6D7276;
  span {
    color: #127CE1;
  }
}
.dropzone.dz-started {
  padding-bottom: 70px;
  .dz-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    display: block;
    margin: 0;
  }
}

.dropzone .dz-preview.dz-error .dz-error-message,
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone .dz-preview.dz-file-preview .dz-image,
.dz-size {
  display: none; // unlock in backend
}

.dropzone .dz-preview .dz-details {
  padding: 0;
  transform: translateY(-16px);
  top: calc(100% - 16px);
}

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

.dropzone .dz-preview {
  margin: 0 0 8px;
  padding: 16px;
  position: relative;
  width: 156px;
  height: 90px;
  background: #fff;
  border-radius: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='32' viewBox='0 0 30 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 15.064L15.7622 28.4406C14.1405 30.0794 11.941 31 9.64752 31C7.35406 31 5.15452 30.0794 3.5328 28.4406C1.91108 26.8019 1 24.5793 1 22.2618C1 19.9442 1.91108 17.7216 3.5328 16.0829L16.7706 2.70625C17.8517 1.61376 19.3181 1 20.847 1C22.376 1 23.8424 1.61376 24.9235 2.70625C26.0047 3.79874 26.6121 5.28048 26.6121 6.82549C26.6121 8.37051 26.0047 9.85225 24.9235 10.9447L11.6714 24.3214C11.1308 24.8676 10.3976 25.1745 9.63312 25.1745C8.86863 25.1745 8.13545 24.8676 7.59488 24.3214C7.0543 23.7751 6.75061 23.0343 6.75061 22.2618C6.75061 21.4892 7.0543 20.7484 7.59488 20.2021L19.8243 7.85895' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center 16px;
  display: inline-flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.dropzone .dz-preview .dz-remove {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  cursor: pointer;
  svg {
    cursor: pointer;
  }
}


// need documents

.need-doc {
  margin-top: 24px;
  &__title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.4;
  }
  &__list {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    background: #eff7ff;
    border-radius: 16px;
    @include r(768) {
      flex-basis: 100%;
    }
  }
  &__icon {
    margin-right: 16px;
    width: 34px;
    height: 41px;
  }
  &__caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    span {
      display: block;
      font-size: 16px;
      color: #6D7276;
    }
  }
}

// wraning

.vol-form-warning {
  margin-top: 24px;
  margin-bottom: 40px;
  padding: 32px 24px;
  width: 870px;
  max-width: 100%;
  background: #eff7ff;
  border: 1px solid #2688E5;
  border-radius: 16px;
  display: none;
  &.is-open {
    display: block;
  }
  &.is-active {
    background: #FBF5F5;
    border: 1px solid #EC1515;
  }
  p,
  &__text {
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}


// check taxi

.check-taxi {
  position: absolute;
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  &__wrapper {
    padding: 40px 40px 32px;
    width: 472px;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 8px 8px 36px rgba(24, 73, 131, 0.07);
    border-radius: 16px;
  }
  &__btn {
    margin-bottom: 16px;
    padding: 16px 0 20px;
    width: 100%;
    background: #EFF7FF;
    border-radius: 12px;
    color: #127CE1;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    transition: .3s color ease-in-out, .3s background-color ease-in-out;
    &:hover,
    &.is-active {
      color: #fff;
      background-color: #2688E5;
    }
  }
  &__description {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #6D7276;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.taxi-back {
  display: none;
}
