.is-wards-page, .is-faq-page, .is-events-page, .is-inner-page {
  .header {
    background-color: #fff;
    &_fixed {
      @include r(600) {
        background-color: transparent;
      }
    }
  }
  .burger {
    color: #000;
  }
  .logo__img,
  .logo__text {
    fill: #13264A;
    color: #13264A;
    opacity: 0.45;
  }
  .header__btn {
    background-color: #2688E5;
    color: #fff;
  }
}

//wards nav

.wards-nav {
  background-color: #f5f8fb;
  margin-top: 115px;
  @include r(600) {
    margin-top: 80px;
    background-color: transparent;
  }
  &__list {
    display: flex;
    padding: 22px 0 26px;
    @include r(768) {
      gap: 16px;
    }
  }
  &__item {
    position: relative;
    padding-left: 24px;
    flex: 0 0 max-content;
    @include r(768) {
      padding-left: 0;
    }
    @include r(600) {
      background-color: #F7F7F7;
      padding: 10px 16px 12px;
      text-align: center;
      max-height: 60px;
      border-radius: 8px;
    }
    //&:not(:last-child) {
    //  margin-right: 24px;
    //  @include r(600) {
    //    margin-right: 8px;
    //  }
    //}
  }
  &__swiper {
    @include r(600) {
      width: calc(100% + 32px);
    }
    @include r(480) {
      width: calc(100% + 12px);
    }
  }
  &__link {
    font-size: 18px;
    line-height: 1.4;
    transition: text-shadow .3s ease-in-out;
    @include r(1200) {
      font-size: 16px;
    }
    @include r(600) {
      font-size: 14px;
      color: #939CA5;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -24px;
      display: block;
      width: 0;
      height: 2px;
      background-color: #2688E5;
      transition: width .3s ease-in-out;
      @include r(600) {
        content: none;
      }
    }
    &.is-active,
    &:hover {
      color: #127ce1;
      text-shadow: 0 0 1px #127ce1, 0 0 1px #127ce1;
      @include r(600) {
        color: #000;
        text-shadow: none;
      }
    }
    &:hover::after,
    &.is-active::after {
      width: 110%;
    }
  }
  &__review-link {
    display: block;
    margin-left: auto;
    padding: 22px 0 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    text-align: right;
    color: #127ce1;
    @include r(1024) {
      display: none;
    }
  }
}

// wards-phone

.wards-phone {
  margin-top: 80px;
  &__inn {
    @include r(600) {
      padding: 24px 16px 0;
      background-color: #EFF7FF;
      border-radius: 8px;
    }
  }
  &__title {
    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.5;
      color: #6D7276;
      font-feature-settings: normal;
      @include r(600) {
        display: block;
        margin-top: 8px;
      }
    }
  }
  &__list {
    display: flex;
    margin-top: 24px;
    gap: 16px;
    @include r(600) {
      flex-wrap: wrap;
      padding-bottom: 44px;
    }
  }
  &__item {
    padding: 24px 56px 24px 24px;
    background: #EFF7FF;
    border-radius: 16px;
    @include r(600) {
      padding: 0;
      width: 100%;
      mask-image: none;
    }
  }
  &__caption {
    line-height: 1.4;
  }
  &__link {
    margin-top: 4px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: #127CE1;
    &_star {
      position: relative;
      padding-left: 21px;
      i {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 20px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7485 10.5L20 14.5608L18.655 16.9972L11.345 12.7624V21H8.65497L8.71345 12.7624L1.40351 16.9972L0 14.5608L7.30994 10.5L0 6.43923L1.40351 3.94475L8.71345 8.23757L8.65497 0H11.345V8.23757L18.655 3.94475L20 6.43923L12.7485 10.5Z' fill='%23127CE1'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    &:hover {
      color: #127CE1;
    }
  }
  &__btn {
    display: none;
    margin-top: -20px;
    padding: 14px 96px 18px;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 8px;
    @include r(600) {
      display: block;
    }
  }
}

//wards-types

.wards-types {
  margin-top: 56px;
  &__title {
    margin-bottom: 32px;
  }
  &__list {
    gap: 18px 0;
  }
  &__wr {
    padding-left: 8px;
    padding-right: 8px;
  }
  &__item {
    position: relative;
    padding: 24px 24px 68px 24px;
    min-height: 239px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    border-radius: 16px;
    @include r(1200) {
      padding: 20px 16px;
    }
    @include r(480) {
      padding: 16px 9px 16px 12px;
      min-height: 150px;
      height: 100%;
    }
    &_01 {
      background-color: #D8FFD3;
      background-image: url('../img/wt-01.png');
      @include r(480) {
        background-image: url('../img/wt-01-mobile.png');
      }
    }
    &_02 {
      background-color: #FFEDDE;
      background-image: url('../img/wt-02.png');
      @include r(480) {
        background-image: url('../img/wt-02-mobile.png');
      }
    }
    &_03 {
      background-color: #C5F3FE;
      background-image: url('../img/wt-03.png');
      @include r(480) {
        min-height: 110px;
        background-position: right center;
        background-image: url('../img/wt-03-mobile.png');
        .wards-types__descr {
          max-width: 50%;
        }
      }
    }
    &_04 {
      background-color: #D1FFFC;
      background-image: url('../img/wt-04.png');
      @include r(480) {
        min-height: 130px;
        background-image: url('../img/wt-04-mobile.png');
        .wards-types__descr {
          max-width: 50%;
        }
      }
    }
    &_05 {
      background-color: #F1DAFF;
      background-image: url('../img/wt-05.png');
      @include r(480) {
        background-position: right top;
        background-image: url('../img/wt-05-mobile.png');
      }
    }
    &_06 {
      background-color: #DEF1FF;
      background-image: url('../img/wt-06.png');
      @include r(480) {
        background-image: url('../img/wt-06-mobile.png');
      }
    }
    &_07 {
      background-color: #FFF59D;
      background-image: url('../img/wt-07.png');
      @include r(480) {
        background-image: url('../img/wt-07-mobile.png');
      }
    }
    &_08 {
      background-color: #F7FF9D;
      background-image: url('../img/wt-08.png');
      @include r(480) {
        background-image: url('../img/wt-08-mobile.png');
        .wards-types__descr {
          max-width: 50%;
        }
      }
    }
    &_09 {
      background-color: #D3FAFF;
      background-image: url('../img/wt-09.png');
      @include r(480) {
        background-image: url('../img/wt-09-mobile.png');
      }
    }
    &_010 {
      background-color: #E9FFD3;
      background-image: url('../img/wt-010.png');
      @include r(480) {
        min-height: 110px;
        background-image: url('../img/wt-010-mobile.png');
        .wards-types__descr {
          max-width: 50%;
        }
      }
    }
    &_011 {
      background-color: #D5E4FF;
      background-image: url('../img/wt-011.png');
      @include r(480) {
        min-height: 110px;
        background-image: url('../img/wt-011-mobile.png');
        .wards-types__descr {

        }
      }
    }
  }
  &__caption {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    @include r(480) {
      font-size: 15px;
    }
  }
  &__descr {
    margin-top: 8px;
    font-size: 20px;
    line-height: 140%;
    @include r(480) {
      font-size: 13px;
    }
  }
  &__link {
    margin-top: 24px;
    display: block;
    font-size: 18px;
    line-height: 140%;
    width: max-content;
    color: #000;
    @include r(1200) {
      visibility: hidden;
      height: 0;
    }
    svg {
      margin-left: 4px;
      width: 19px;
      height: 14px;
      stroke: currentColor;
      transition: transform .3s ease-in-out;
    }
    &:hover {
      svg {
        transform: translateX(8px);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

//wards appeal

.wards-appeal {
  &__wr {
    padding: 72px 80px 0 80px;
    background-image: url('../img/wards-appeal-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    @include r(1024) {
      padding: 0;
      background-image: none;
    }

  }
  &__title {
    margin-bottom: 24px;
  }
  &__article {
    margin-right: 190px;
    max-width: 745px;
    @include r(1440) {
      max-width: 685px;
    }
    @include r(1024) {
      order: 2;
      margin-right: 0;
      max-width: 100%;
      color: #000;
    }
  }
  &__inner {
    display: flex;
    align-items: flex-end;
    @include r(1024) {
      flex-direction: column;
    }
  }
  &__text {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.5;
    @include r(1440) {
      font-size: 20px;
    }
    @include r(768) {
      font-size: 16px;
    }
  }
  &__btn {
    padding: 16px 65px 20px;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.4;
    color: #2688E5;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 32px;
    @include r(1024) {
      font-size: 18px;
      color: #fff;
      background-color: #2688E5;
    }
  }
  &__img {
    flex-shrink: 0;
    @include r(1024) {
      width: 100%;
      margin-bottom: 32px;
      padding: 25px 50px 0 25px;
      border-radius: 16px;
      background-image: url('../img/wards-appeal-bg.png');
    }
  }

  .appeal__wr {
    @include r(768) {
      align-items: flex-start;
    }
  }
  .appeal__signature_post {
    @include r(768) {
      font-size: 22px;
      text-align: right;
    }
  }
  .appeal__signature_name {
    @include r(768) {
      text-align: right;
    }
  }

}


// ------------- faq-page --------------- //

// faq

.faq {
  margin-top: 56px;
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 56px;
    }
  }
  &__inner {
    &:first-child {
      margin-top: 40px;
    }
  }
  &__item {
    border-bottom: 1px solid rgba(174, 193, 210, 0.5);
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__question {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    width: 100%;
    text-align: left;
    @include r(600) {
      font-size: 16px;
    }
    span {
      display: block;
      max-width: 90%;
    }
    svg {
      position: absolute;
      right: 0;
      top: 50%;
      width: 21px;
      height: 9px;
      transition: transform .3s ease-in-out;
      transform: rotate(180deg);
    }
    &.collapsed {
      svg {
        transform: rotate(0);
      }
    }
  }
  &__answer {
    background-color: #f7fafd;
    &-inn {
      padding: 32px;
      p {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

// ask

.ask {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 8px 8px 36px rgba(24, 73, 131, 0.07);
  border-radius: 16px;
  &_fixed {
    position: fixed;
    top: 100px;
  }
  &_hide {
    opacity: 0;
  }
  &__img {
    display: block;
    margin-bottom: 24px;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
  }
  &__btn {
    margin-top: 24px;
    padding: 16px 24px 20px;
    color: #127ce1;
    background-color: #eff7ff;
    border-radius: 8px;
  }
}


// mobile ask

.mobile-ask {
  margin-top: 65px;
  @include r(600) {
    background-color: #eff7ff;
  }
  &__wr {
    padding: 24px 23px 26px;
    background: #fff;
    box-shadow: 8px 8px 36px rgba(24, 73, 131, 0.07);
    border-radius: 16px;
    @include r(600) {
      padding-right: 0;
      padding-left: 0;
      justify-content: center;
      text-align: center;
      background-color: transparent;
      box-shadow: none;
    }
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    @include r(600) {
      margin-top: 24px;
      font-size: 18px;
    }
  }
  &__btn {
    padding: 16px 78px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: #127CE1;
    background-color: #eff7ff;
    border-radius: 12px;
    @include r(600) {
      margin-top: 24px;
      background-color: #2688E5;
      color: #fff;
    }
    @include r(480) {
      padding: 16px 40px 20px;
      font-size: 18px;
    }
  }
}

.is-faq-page {
  .bottom-btns {
    margin-top: 56px;
  }
}

// -------------- events page ------------------- //

// events

.calendar {
  margin-top: 56px;
}

.calendar {
  &__inner {
    margin-top: 48px;
  }
  &__month-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__month,
  &__year {
    font-size: 20px;
    line-height: 24px;
    color: #6D7276;
    cursor: pointer;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 8;
    @include r(480) {
      max-width: 35px;
      font-size: 18px;
    }
  }
  &__year {
    display: none;
    margin-left: 8px;
  }
  &__month-item {
    display: flex;
    justify-content: space-around;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, padding .3s ease-in-out;
    &.is-active,
    &.swiper-slide-active {
      .calendar__month,
      .calendar__year {
        display: block;
        padding: 12px 38px 16px;
        color: #127CE1;
        background-color: #EFF7FF;
        @include r(600) {
          padding-right: 16px;
          padding-left: 16px;
        }
        @include r(480) {
          max-width: 100%;
        }
      }
    }
  }

  &__month-next,
  &__month-prev {
    position: absolute;
    top: 50%;
    z-index: 15;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__month-next {
    right: 15px;
  }
  &__month-prev {
    left: 15px;
  }

  &__day-list {
    margin-top: 32px;
    margin-bottom: 24px;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
  }
  &__day {
    padding: 0 24px;
    font-size: 20px;
    line-height: 24px;
    @include r(600) {
      font-size: 18px;
      padding: 0;
    }
  }
  &__week {
    display: flex;
    justify-content: space-between;
    padding: 8px 36px;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 10;
    &:nth-child(odd) {
      background-color: #F5F8FB;
    }
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__number {
    flex: 0 0 65px;
    text-align: center;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 4;
    @include r(600) {
      font-size: 18px;
      padding: 0;
      flex: 0 0 20px;
    }
    &.is-active {
      color: #127CE1;
    }
    &:hover,
    &.is-focus {
      color: #fff;
      background-color: #2688E5;
    }
  }
  &__date {
    margin-top: 60px;
    font-size: 28px;
    line-height: 34px;
    span {
      font-weight: 600;
      font-size: 28px;
    }
  }
  &__events-list {
    margin-top: 32px;
  }
  &__events-item {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  &__time,
  &__place,
  &__area {
    font-size: 20px;
    line-height: 150%;
    color: #6D7276;
  }
  &__area {
    margin-left: 24px;
  }
  &__caption {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
  }
  &__theme {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
  }
  &__link {
    display: block;
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.4;
    color: #2688E5;
    svg {
      margin-left: 4px;
      width: 19px;
      height: 14px;
      stroke: currentColor;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      transition: -webkit-transform .3s ease-in-out;
      transition: transform .3s ease-in-out;
    }
    &:hover {
      text-decoration: none;
      color: #2688E5;
      svg {
        transform: translateX(8px);
      }
    }
  }
}


// gallery

.gallery {
  margin-top: 80px;
  &__item {
    margin-top: 48px;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
  }
  &__swiper {
    margin-top: 24px;
    width: calc(100vw - (100vw - 99%) / 2);
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
    max-width: 95%;
  }
  &__link {
    font-size: 20px;
    line-height: 1.4;
    color: #2688E5;
    svg {
      margin-left: 4px;
      width: 19px;
      height: 14px;
      stroke: currentColor;
      transition: transform .3s ease-in-out;
    }
    &:hover {
      color: #2688E5;
      svg {
        transform: translateX(7px);
      }
    }
  }
  &__date {
    font-size: 18px;
    line-height: 1.4;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
  &__btn {
    display: block;
    margin: 106px auto 0;
    padding: 16px 182px 20px;
    font-size: 20px;
    line-height: 1.4;
    color: #127CE1;
    background-color: #eff7ff;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    --smooth-corners: 16;
    max-width: 100%;
    @include r(600) {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
}

//// help pages

.banner {
  position: relative;
  margin-top: 115px;
  padding-top: 35px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #EFF7FF;
  @include r(600) {
    margin-top: 80px;
    padding-top: 0;
    background-color: transparent;
  }
  .container {
    @include r(600) {
      padding: 0;
    }
  }
  .row {
    margin: 0;
  }
  &__inner {
    align-items: center;
    @include r(1440) {
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 24px;
    @include r(1440) {
      font-size: 1.8em;
    }
    @include r(1366) {
      font-size: 1.7em;
    }
    @include r(600) {
      font-size: 2em;
      padding: 0 16px;
    }
    @include r(480) {
      padding: 0;
    }
  }
  &__text {
    margin-bottom: 32px;
    font-size: 1.375em;
    line-height: 1.5;
    @include r(1440) {
      font-size: 1.25em;
    }
    @include r(1366) {
      font-size: 1.12em;
    }
    @include r(600) {
      font-size: 1.25em;
      padding: 0 16px;
    }
    @include r(480) {
      padding: 0;
    }
  }
  &__btn {
    padding: 16px 46px 20px;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.4;
    color: #fff;
    background: #2688E5;
    border-radius: 12px;
    margin-bottom: 50px;
    @include r(600) {
      margin: 0 16px 0;
    }
    @include r(480) {
      margin: 0;
    }
  }
  &__link {
    margin-left: 24px;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.4;
    color: #2688E5;
    width: max-content;
    @include r(1024) {
      display: block;
      margin-top: -20px;
      margin-bottom: 32px;
    }
    @include r(600) {
      margin: 16px 16px 0;
      padding: 14px 38px 18px;
      background: #EFF7FF;
      border-radius: 8px;
      color: #127CE1;
    }
    @include r(480) {
      margin: 16px 0 0;
    }
  }
  &__right {
    display: flex;
    align-items: flex-end;
    @include r(600) {
      position: static;
      order: -1;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 32px;
      padding: 20px 0 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #EFF7FF;
    }
  }
  &__design {
    position: relative;
    margin-right: 145px;
    margin-bottom: 85px;
    @include r(1680) {
      margin-right: 0;
    }
    @include r(1024) {
      margin-bottom: 16px;
    }
    p {
      font-family: 'Caveat', sans-serif;
      font-size: 2.125em;
      line-height: 1.26;
      text-align: right;
      color: #2688E5;
      mix-blend-mode: multiply;
      span {
        font-size: 0.76em;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: -80px;
      right: -100px;
      display: block;
      width: 97px;
      height: 98px;
      background-image: url("../img/banner-arrow.jpg");
      @include r(1680) {
        right: -50px;
      }
      @include r(600) {
        content: none;
      }
    }
    &_desktop {
      @include r(1024) {
        display: none;
      }
      @include r(600) {
        display: block;
        order: 2;
        padding-top: 32px;
        p {
          text-align: left;
          @include r(480) {
            font-size: 18px;
          }
          span {
            @include r(480) {
              font-size: 16px;
            }
          }
        }
      }
    }
    &_laptop {
      display: none;
      @include r(1024) {
        display: block;
      }
      @include r(600) {
        display: none;
      }
    }
  }
}

.psychology-letter {
  position: relative;
  margin-top: 105px;
  margin-bottom: 150px;
  padding-top: 48px;
  padding-bottom: 56px;
  color: #fff;
  background: radial-gradient(47.88% 178.94% at 10.66% 16%, #99D4FF 0%, #4E91F5 100%), radial-gradient(105.69% 109.42% at 88.35% 94.4%, #99D4FF 0%, #4E91F5 100%), linear-gradient(120.93deg, #99CDFF 14%, #379EFF 100.08%);
  background-repeat: no-repeat;
  @include r(600) {
    margin-top: 135px;
    padding-top: 0;
    border-radius: 32px;
  }
  &__left {
    position: static;
  }
  &__img {
    position: absolute;
    top: -40px;
    object-fit: cover;
    @include r(1440) {
      left: -50px;
    }
    @include r(1200) {
      left: -20%;
    }
    @include r(1024) {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    @include r(600) {
      position: relative;
      margin: -50px auto 0;
      display: block;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    font-size: 1.25em;
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__btn {
    display: block;
    margin-top: 32px;
    padding: 16px 40px 20px;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.4;
    color: #2688E5;
    background-color: #fff;
    border-radius: 12px;
    @include r(480) {
      margin: 32px auto 0;

    }
  }
}


.is-psychology-page {
  .banner {
    background-image: url('../img/banner-bg.png');
    @include r(1024) {
      background-image: url('../img/banner-bg-768.png');
    }
    @include r(600) {
      background-image: none;
    }
  }
  .banner__inner {
    @include r(1440) {
      align-items: flex-end;
    }
  }
  .banner__right {
    @include r(600) {
      justify-content: flex-start;
      padding: 0;
      background-image: url('../img/lawyer-banner-bg-480.png');
    }
  }
  .banner__btn {
    margin-bottom: 0;
    @include r(1440) {
      margin-bottom: 50px;
    }
  }
}

.is-lawyer-page {
  .banner {
    background-image: url('../img/lawyer-banner-bg.png');
    @include r(1440) {
      background-image: url('../img/lawyer-banner-bg-1440.png');
      background-size: contain;
    }
    @include r(1024) {
      background-image: url('../img/lawyer-banner-bg-768.png');
    }
    @include r(600) {
      background-image: none;
    }
  }
  .banner__right {
    @include r(600) {
      background-image: url('../img/lawyer-banner-bg-480.png');
      background-size: contain;
      background-position: right center;
    }
  }
}

.is-specialist-page {
  .banner {
    background-image: url('../img/specialist-banner-bg.png');
    @include r(1440) {
      background-image: url('../img/specialist-banner-bg-1440.png');
      background-size: contain;
    }
    @include r(1024) {
      background-image: url('../img/specialist-banner-bg-768.png');
    }
    @include r(600) {
      background-image: none;
    }
  }
  .banner__right {
    @include r(600) {
      background-image: url('../img/specialist-banner-bg-480.png');
      background-size: contain;
      background-position: right center;
    }
  }
}

.is-consultation-page {
  .banner {
    background-image: url('../img/consultation-banner-bg.png');
    @include r(1440) {
      background-image: url('../img/consultation-banner-bg-1440.png');
    }
    @include r(1024) {
      background-image: url('../img/consultation-banner-bg-768.png');
    }
    @include r(600) {
      background-image: none;
    }
  }
  .banner__right {
    @include r(600) {
      background-image: url('../img/consultation-banner-bg-480.png');
      background-size: contain;
      background-position: right center;
    }
  }
}

.is-diagnostic-page {
  .banner {
    background-image: url('../img/diagnostic-banner-bg.png');
    @include r(1440) {
      background-image: url('../img/diagnostic-banner-bg-1440.png');
    }
    @include r(1024) {
      background-image: url('../img/diagnostic-banner-bg-768.png');
    }
    @include r(600) {
      background-image: none;
    }
  }
  .banner__right {
    @include r(600) {
      background-image: url('../img/diagnostic-banner-bg-480.png');
      background-size: contain;
      background-position: right center;
    }
  }
}

.is-taxi-page {
  .banner {
    background-image: url('../img/taxi-banner-bg.png');
    @include r(1440) {
      background-image: url('../img/taxi-banner-bg-1440.png');
    }
    @include r(1024) {
      background-image: url('../img/taxi-banner-bg-768.png');
    }
    @include r(600) {
      background-image: none;
    }
  }
  .banner__right {
    @include r(600) {
      background-image: url('../img/taxi-banner-bg-480.png');
      background-size: contain;
      background-position: right center;
    }
  }
}

.is-basket-page {
  .banner {
    background-image: url('../img/basket-banner-bg.png');
    @include r(1440) {
      background-image: url('../img/basket-banner-bg-1440.png');
    }
    @include r(1024) {
      background-image: url('../img/basket-banner-bg-768.png');
    }
    @include r(600) {
      background-image: none;
    }
  }
  .banner__right {
    @include r(600) {
      background-image: url('../img/basket-banner-bg-480.png');
      background-size: contain;
      background-position: right center;
    }
  }
}


