<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xl-3">
        <a href="" class="footer-logo d-flex">
          <svg class="footer-logo__img">
            <use xlink:href="assets/img/sprite.svg#footer-logo"></use>
          </svg>
          <p
            class="footer-logo__text">Огромное сердце</p>
        </a>
        <ul class="social footer__social">
          <li class="social__item">
            <a href="" class="social__link">
              <svg width="21" height="21">
                <use xlink:href="assets/img/sprite.svg#icon-inst"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <svg width="12" height="21">
                <use xlink:href="assets/img/sprite.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <svg width="24" height="14">
                <use xlink:href="assets/img/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <svg width="24" height="16">
                <use xlink:href="assets/img/sprite.svg#icon-yt"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <svg width="18" height="21">
                <use xlink:href="assets/img/sprite.svg#icon-tt"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <svg width="18" height="21">
                <use xlink:href="assets/img/sprite.svg#icon-ok"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link">
              <svg width="20" height="20">
                <use xlink:href="assets/img/sprite.svg#icon-dz"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__copy">
          &copy; 2019–2021 БФ «Огромное сердце»
        </p>
      </div>
      <div class="col-lg-2 col-xl-2">
        <nav class="footer-nav ml-lg-4">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Фонд</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Виды помощи</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Статьи</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Отчеты</a>
            </li>
          </ul>
          <p class="footer__caption">По всем вопросам</p>
          <a href="mailto:info@greatheart.ru" class="footer__email">info@greatheart.ru</a>
        </nav>
      </div>

      <div class="col-lg-2 col-xl-2 offset-1">
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Волонтерам</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Партнерам</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Контакты</a>
            </li>
            <li class="footer-nav__item">
              <a href="" class="footer-nav__link">Частые вопросы</a>
            </li>
          </ul>
          <p class="footer__caption">Партнерам</p>
          <a href="mailto:partners@greatheart.ru" class="footer__email">partners@greatheart.ru</a>
        </nav>
      </div>
      <div class="col-lg-3 col-xl-3 offset-1">
        <p class="footer__phone">Горячая линия <span>08:00–22:00 мск</span></p>
        <a href="tel:88003505785" class="footer__phone">8 800 350 57 85 <span>По всей России</span></a>
        <a href="tel:84951980899" class="footer__phone">8 495 198 08 99 <span>По Москве</span></a>
        <a href="tel:*5785" class="footer__phone footer__phone_pl"><i>*</i>5785 <span>Бесплатно с мобильного</span></a>
        <button class="btn-reset footer__btn">Написать президенту фонда</button>
      </div>
    </div>
  </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/swiper-bundle.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
