<header class="header js-header">
  <div class="container">
    <div class="row header__inner">
      <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
        <a href="/" class="logo">
          <svg class="logo__img">
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
          <p class="logo__text">Огромное сердце</p>
        </a>
      </div>
      <div class="col-md-5 col-lg-5 col-xl-5 d-sm-none d-lg-block">
        {{> navigation}}
      </div>
      <div class="col-sm-8 col-md-8 col-lg-5 col-xl-5">
        <div class="header__right">
          {{> search}}
          <a href="tel:88003505785" class="header__phone">8 800 350 57 85</a>
          <button class="btn-reset button  header__btn-help">Нужна помощь</button>
          <button class="btn-reset button  header__btn">Хочу помочь</button>
        </div>
      </div>
      <button class="btn-reset burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
