<nav class="nav">
    <ul class="nav__list d-flex">
      <li class="nav__item"><a href="" class="nav__link">Фонд</a></li>
      <li class="nav__item"><a href="/wards.html" class="nav__link">Подопечным</a></li>
      <li class="nav__item"><a href="" class="nav__link">Волонтерам</a></li>
      <li class="nav__item"><a href="" class="nav__link">Статьи</a></li>
      <li class="nav__item"><a href="" class="nav__link">Сборы</a></li>
      <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
    </ul>
</nav>
