<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/swiper-bundle.js"></script>
<script src="{{root}}assets/vendor/js/jquery.fancybox.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
<script src="{{root}}assets/vendor/js/jquery.steps.min.js"></script>
<!--<script src="{{root}}assets/js/util/autoPadding.js"></script>-->
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/{{script}}.js"></script>
<script src="{{root}}assets/js/app.js"></script>
<!-- endbuild -->

