.nav {
  &__list {
    @include r(1200) {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
  }
  &__item {
    @include r(1200) {
      padding: 15px;
      border-bottom: 1px solid #AEC1D2;
      width: 100%;
    }
    &:not(:last-child) {
      margin-right: 2em;
    }
  }
  &__link {
    @include r(1200) {
      font-weight: 500;
    }
    &:hover {
      text-shadow: 0 0 1px #000, 0 0 1px #000;
    }
  }
  @include r(1200) {
    display: none;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -102%;
  z-index: 100;
  display: none;
  padding: 30px 56px;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  transition: left .5s ease-in-out;
  &.is-open {
    left: 0;
  }
  @include r(1200) {
    display: block;
  }
  @include r(768) {
    padding-left: 32px;
    padding-right: 32px;
  }
  &__top {
    align-items: center;
    margin-bottom: 60px;
  }
  .logo {
    margin-right: auto;
  }
  .logo__img {
    fill: #13264A;
    opacity: 0.45;
  }
  .logo__text {
    color: #13264A;
    opacity: 0.45;
  }
  &__btns {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 0 10px;
    margin: 0 auto;
  }
  &__btn {
    padding: 16px 24px 20px;
    width: 45%;
    background-color: #EFF7FF;
    border-radius: 12px;
    color: #127CE1;
    font-size: 1.2em;
    line-height: 1.4em;
    &_blue {
      background-color: #2688E5;
      color: #fff;
    }
  }
}

.sub {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    width: 18px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='8' viewBox='0 0 18 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.53418L9 6.55044L17 0.53418' stroke='%23AEC1D2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    display: block;
    transition: transform .3s ease-in-out;
  }
  &.is-open::after {
    transform: rotate(180deg);
  }
  &__list {
    opacity: 0;
    height: 0;
    transition: height .3s ease-in-out, opacity .3s ease-in-out;
  }
  &.is-open > .sub__list {
      height: 100%;
      opacity: 1;
  }
}
